<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="Enter Email"></ion-input>
    </ion-item>
    <ion-button (click)="setEmail()" color="primary" expand="block">Set Email</ion-button>
    <ion-button (click)="getEmail()" color="secondary" expand="block">Get Email</ion-button>    
    <ion-item>
      Result: <br>
      {{result}}
    </ion-item>
  </ion-list>
</ion-content>
